<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATLAS</title>
</head>

<body>
    <a href="#thecontent" class="skip">To the Content</a>
    <header>
        <div class="headerinner">
            <ul class="nav-mob">
                <li><a id="drawer" href="#" class="menu_drawer">☰</a>
                </li>
            </ul>
            <h1 class="headertitle">
                ATLAS Resto and Eatery
            </h1>
        </div>
        <nav id="navbar" class="nav">
            <ul class="navlist">
                <li class="navitem"><a href="">Home</a></li>
                <li class="navitem"><a href="#">Favorite</a></li>
                <li class="navitem"><a href="https://www.linkedin.com/in/ahmad-yanta-fairuz-zudana/">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero_inner">
            <h1 class="hero_title">ATLAS Resto and Eatery</h1>
            <p class="hero_desc">Find The Best Restaurant Recommendations in Indonesia</p>
        </div>
    </div>
    <main id="thecontent">
        <div class="latest">
            <h1 class="latesthead">Explore Any Restaurant</h1>
        </div>
        <div id="content" class="content">
        </div>
    </main>
    <footer>
        <p>Copyright &#169; 2023 - ATLAS Resto and Eatery </p>
    </footer>
</body>

</html>